* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
}
section {
    width: 90%;
    background-color: rgb(168, 168, 168);
    margin: 10px auto;
}
a {
    float: left;
    display: block;
    padding: 20px;
    text-align: center;
    border: 1px solid;
    margin: 5px auto;
    width: 30%;
    border-radius: 3px;
    background-color: rgb(4, 199, 46);
}
a:hover {
    background-color: black;
    color: azure;
}