.Green {
    border: 3px solid green;
    width: 100%;
    height: 50px;
}

.Left-Blue {
    border: 3px solid blue;
    width: 20%;
    height: 500px;
    margin-top: 10px;
    float: left;
}

.Right-Red {
    border: 3px solid red;
    width: 78%;
    height: 500px;
    margin-top: 10px;
    float: right;
}

.Right-Red .Child-1 {
    border: 3px solid green;
    width: 80%;
    height: 50px;
    /* float: left; */
    display: block;
    margin-left: 50px;
    margin-top: 10px;
   
    
}
.Right-Red .Child-2 {
    border: 3px solid blue;
    width: 30%;
    height: 200px;
    margin-top: 200px;
    float: left;
    margin-left: 40px;

}
.Right-Red .Child-3 {
    border: 3px solid blue;
    width: 30%;
    height: 200px;
    float: right;
    margin-right: 40px;
    margin-top: 200px;

}



.Red {
    border: 3px solid red;
    width: 100%;
    height: 50px;
    float: left;
    margin-top: 10px;
}